.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :url
  =f.error_message_on :url
  =f.text_field :url, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :provider
  =f.error_message_on :provider
  =f.text_field :provider, :class => :text_field
  %span.description Ex: a simple text

.group

  =f.hidden_field :event_id, :value => @event.id
  %span.description Ex: a simple text



.group
  =f.label :featured
  =f.error_message_on :featured
  =f.check_box :featured, :class => :check_box
  %span.description Featured


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:videos, :index)}';return false", :class => :button
