.group
  =f.label :url
  =f.error_message_on :url
  =f.text_field :url, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :type
  =f.error_message_on :type
  =f.text_field :type, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :date
  =f.error_message_on :date
  =f.text_field :date, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :endtime
  =f.error_message_on :endtime
  =f.text_field :endtime, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :price
  =f.error_message_on :price
  =f.text_field :price, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :mobile
  =f.error_message_on :mobile
  =f.check_box :mobile, :class => :check_box
  %span.description Ex: a simple text

.group
  =f.label :facebook
  =f.error_message_on :facebook
  =f.check_box :facebook, :class => :check_box
  %span.description Ex: a simple text

.group
  =f.label :thumbnails
  =f.error_message_on :thumbnails
  =f.text_field :thumbnails, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:streamhubs, :index)}';return false", :class => :button
