.block
  .row
    .span2
      %%ul.nav.nav-list.well
        %li.nav-header Account
        -if current_account.role == "admin"
          %li=link_to pat(:new), url(:accounts, :new)
        %li.active=link_to pat(:edit), url(:accounts, :edit, :id => @account.id)
        %li=link_to pat(:services), url(:authentications, :index) 
    .span6
      %h2.title
        =pat(:edit)
        =mt(:account)
      .inner
        -form_for :account, url(:accounts, :update, :id => @account.id), :method => :put, :class => :form do |f|
          =partial "accounts/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
