.group
  =f.label :task
  =f.error_message_on :task
  =f.text_field :task, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :note
  =f.error_message_on :note
  =f.text_field :note, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :account_id
  =f.error_message_on :account_id
  =f.text_field :account_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :callsheet_id
  =f.error_message_on :callsheet_id
  =f.text_field :callsheet_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :dayrate
  =f.error_message_on :dayrate
  =f.text_field :dayrate, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.error_message_on :settled
  =f.check_box :settled, :checked => false
  %span.description Payed

<<<<<<< HEAD
.group
  =f.error_message_on :confirmed
  =f.check_box :confirmed
  %span.description Confirmed
=======
>>>>>>> 1acc8a2bf63cccaacb254b5ef810b027ba774ab5



.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:assigments, :index)}';return false", :class => :button
