.block
  .span2
    %ul.nav.nav-list.well
      %li.nav-header Gigs
      %li.first.active
        %a{ :href => "/admin/assigments/"}
          %i.icon-th-list
          List

      %li.nav-header= "#{current_account.role} account"
      -if current_account.role == "admin"
        %li=link_to pat(:new), url(:accounts, :new)
      %li
        %a{ :href => "#{url(:accounts, :edit, :id => current_account.id)}"}
          %i.icon-user
          Edit

      %li
        %a{:href => "#{url(:authentications, :index)}"}
          %i.icon-cog
          Services
  .span6
    %h2.title
      =pat(:edit)
      =mt(:assigment)
    .inner
      -form_for :assigment, url(:assigments, :update, :id => @assigment.id), :method => :put, :class => :form do |f|
        =partial "assigments/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
