.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :url
  =f.error_message_on :url
  =f.text_field :url, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :showdate
  =f.error_message_on :showdate
  =f.text_field :showdate, :class => :text_field
  %span.description Ex: 1/1/11

.group
  =f.label :gfl_id
  =f.error_message_on :gfl_id
  =f.text_field :gfl_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :price
  =f.error_message_on :price
  =f.text_field :price, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :location
  =f.error_message_on :location
  =f.text_field :location, :class => :text_field, :value => to_address(@event.location)
  -if @event.location.empty?
    %span.description= "EX: Bally's Casino Atlantic City, NJ"
  -else
    %span.description= to_address(@event.location)

.group
  =f.label :venue_tag
  =f.error_message_on :venue_tag
  =f.text_field :venue_tag, :class => :text_field
  %span.description= "Ex: Bally's"

.group
  =f.label :description
  =f.error_message_on :description
  =f.text_field :description, :class => :text_field
  %span.description Drop the press release here. 



.group
  =f.label :budget
  =f.error_message_on :budget
  =f.text_field :budget, :class => :text_field
  %span.description Ex: 5000

.group
  =f.label :hashtag
  =f.error_message_on :hashtag
  =f.text_field :hashtag, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:events, :index)}';return false", :class => :button
