.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:callsheets, :index)
      %li.active=link_to pat(:new), url(:callsheets, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:callsheet)
    .inner
      -form_for @callsheet, url(:callsheets, :create), :class => :form do |f|
        =partial "callsheets/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
